
<div class="flex flex-col items-center text-center min-w-full justify-center backgroundVid font-sans">
    
    <video autoplay muted loop class="absolute w-full h-full object-cover -z-10 top-0">
      <source src="assets/3D/VidMainV2.mp4" type="video/mp4">
    </video>
    <!-- <vg-player class="max-w-fit relative w-3/6">
      <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
          <source src="assets/cat_from_arizona_usa.mp4" type="video/mp4">
      </video>
    </vg-player> -->
    <img src="assets/free-gaming-logo.png" alt="free" class="w-1/6 ">
    <img src="assets/f9.png" alt="free" class="pt-44 w-5/6">
    <img src="assets/box.png" alt="free" class=" w-5/6">
    <img src="assets/f11.png" alt="free" class="w-5/6">
    <img src="assets/f12.png" alt="free" class="w-5/6">
    <img src="assets/f13.png" alt="free" class="w-5/6">
    <img src="assets/f14.png" alt="free" class="w-5/6">
    
  <div class="flex flex-row w-full justify-between items-center">

    
    <img src="assets/setup/visu-pc-fixe-gaming1.jpg" alt="free" class="w-2/6">

    <img src="assets/setup/dipad.jpg" alt="free" class=" w-2/12 h-1/6">
    <img src="assets/setup/freebox-pop.jpg" alt="free" class="w-2/6">
  </div>
    
</div>
