
  <div class="flex flex-col items-center text-center min-w-full justify-center">
    
    <vg-player class="max-w-fit">
      <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
          <source src="assets/cat_from_arizona_usa.mp4 " type="video/mp4">
      </video>
    </vg-player>
    <img src="assets/f9.png" alt="free" class="w-5/6">
    <img src="assets/box.png" alt="free" class="w-5/6">
    <img src="assets/f11.png" alt="free" class="w-5/6">
    <img src="assets/f12.png" alt="free" class="w-5/6">
    <img src="assets/f13.png" alt="free" class="w-5/6">
    <img src="assets/f14.png" alt="free" class="w-5/6">

  </div>
